stream {

    log_format basic '$remote_addr [$time_local] '
                              '$protocol $status $bytes_sent $bytes_received '
                              '$session_time';
    log_format ciphers_log  '$remote_addr [$time_local] cipher="$ssl_cipher" ciphers="$ssl_ciphers"' ;
    server {
        #reuseport is not compatible with Windows and will simply be ignored.
        #Error log will contain:"reuseport is not supported on this platform, ignored in (...)"
        listen 32443 ssl so_keepalive=off backlog=64 reuseport;

        tcp_nodelay on;

        #access_log {{ nginx_log_directory }}/proxysocks_stream.log basic buffer=2k flush=1m;
        #access_log {{ nginx_log_directory }}/proxysocks_ciphers.log ciphers_log buffer=2k flush=1m;
        error_log {{ nginx_log_directory }}/proxysocks_error.log;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES-256-GCM-SHA384';
        ssl_ecdh_curve X25519:prime256v1:secp384r1;
        ssl_dhparam {{ nginx_home_directory }}/ffdhe2048.txt;
        ssl_prefer_server_ciphers on;
        ssl_session_tickets off;
        ssl_handshake_timeout 90s;


        include {{ nginx_home_directory }}/{{ nginx_config_name }}-config/certificates.config;
        ssl_session_timeout 20m;

        proxy_connect_timeout 16s;
        # Attention setting this value lower than decent activity time will interrupt abruptly the connection if idle
        proxy_timeout 300s;

        proxy_pass {{ adr_server_host_fqdn }}:32000;
    }
}
