# Example config.properties for Payara
db.host={{ payara_db_host }}
mongodb.host={{ mongodb_host }}
keycloak.host={{ keycloak_host }}
backend.host={{ backend_payara_host }}
db.name={{ payara_db_name }}
db.user={{ payara_db_user | default(postgresql_adr_customer_user) }}
db.password={{ postgresql_adr_customer_password }}
apcm.version={{ apcm_version }}
